In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)
import pyreadstat as st
import numpy as np
import matplotlib.pyplot as plt


path = r"C:\Users\HP\OneDrive\Escritorio\David Guzzi\DiTella\MEC\Materias\2025\2025 1T\[MT09] Econometría de Datos de Panel\Clases prácticas\PS 2-20250525\data\murder.dta"

df, meta = st.read_dta(path)
df.head(1)

,id,state,year,mrdrte,exec,unem,d90,d93,cmrdrte,cexec,cunem,cexec_1,cunem_1
0,2,AL,87.0,9.3,2.0,7.8,0.0,0.0,NaN,NaN,NaN,NaN,NaN

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       153 non-null    int64
 1   state    153 non-null    object
 2   year     153 non-null    float64
 3   mrdrte   153 non-null    float64
 4   exec     153 non-null    float64
 5   unem     153 non-null    float64
 6   d90      153 non-null    float64
 7   d93      153 non-null    float64
 8   cmrdrte  102 non-null    float64
 9   cexec    102 non-null    float64
 10  cunem    102 non-null    float64
 11  cexec_1  51 non-null     float64
 12  cunem_1  51 non-null     float64
dtypes: float64(11), int64(1), object(1)
memory usage: 15.7+ KB

In [4]:
import statsmodels.api as sm
import statsmodels.formula.api as smf

# Usamos patsy y statsmodels con fórmula
model = smf.ols('mrdrte ~ exec + unem + C(year)', data=df).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 mrdrte   R-squared:                       0.076
Model:                            OLS   Adj. R-squared:                  0.051
Method:                 Least Squares   F-statistic:                     3.047
Date:                Mon, 26 May 2025   Prob (F-statistic):             0.0190
Time:                        20:25:50   Log-Likelihood:                -549.96
No. Observations:                 153   AIC:                             1110.
Df Residuals:                     148   BIC:                             1125.
Df Model:                           4
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
Intercept          -1.8644      3.070     -0.607      0.545      -7.930       4.201
C(year)[T.90.0]     2.6753      1.817      1.472      0.143      -0.915       6.266
C(year)[T.93.0]     1.6073      1.775      0.906      0.367      -1.900       5.114
exec                0.1628      0.194      0.839      0.403      -0.220       0.546
unem                1.3908      0.451      3.085      0.002       0.500       2.282
==============================================================================
Omnibus:                      220.139   Durbin-Watson:                   0.698
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            12528.591
Skew:                           6.053   Prob(JB):                         0.00
Kurtosis:                      45.647   Cond. No.                         29.9
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.