In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)
import pyreadstat as st
import numpy as np
import matplotlib.pyplot as plt


path = r"C:\Users\HP\OneDrive\Escritorio\David Guzzi\DiTella\MEC\Materias\2025\2025 1T\[MT09] Econometría de Datos de Panel\Clases prácticas\PS 0-20250420\ps0_data\mus03data.dta"

df, meta = st.read_dta(path)
df.head()

,dupersid,year03,age,famsze,educyr,totexp,private,retire,female,white,hisp,marry,northe,mwest,south,phylim,actlim,msa,income,injury,priolist,totchr,omc,hmo,mnc,ratio,posexp,suppins,hvgg,hfp,ltotexp,hins,hdem
0,93193020.0,1.0,69.0,2.0,14.0,3.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,12.804,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1.098612,1.0,NaN
1,72072017.0,1.0,65.0,1.0,11.0,6.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,34.959,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1.791759,NaN,1.0
2,25296013.0,1.0,85.0,1.0,14.0,9.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,12.000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,2.197225,NaN,1.0
3,23628011.0,1.0,76.0,5.0,10.0,14.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,7.000,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,2.639057,1.0,1.0
4,95041014.0,1.0,71.0,1.0,14.0,18.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,9.308,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,2.890372,1.0,1.0

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3064 entries, 0 to 3063
Data columns (total 33 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   dupersid  3064 non-null   float64
 1   year03    3064 non-null   float64
 2   age       3064 non-null   float64
 3   famsze    3064 non-null   float64
 4   educyr    3064 non-null   float64
 5   totexp    3064 non-null   float64
 6   private   3064 non-null   float64
 7   retire    3064 non-null   float64
 8   female    3064 non-null   float64
 9   white     3064 non-null   float64
 10  hisp      3064 non-null   float64
 11  marry     3064 non-null   float64
 12  northe    3064 non-null   float64
 13  mwest     3064 non-null   float64
 14  south     3064 non-null   float64
 15  phylim    3064 non-null   float64
 16  actlim    3064 non-null   float64
 17  msa       3064 non-null   float64
 18  income    3064 non-null   float64
 19  injury    3064 non-null   float64
 20  priolist  3064 non-null   float64
 21  totchr    3064 non-null   float64
 22  omc       3064 non-null   float64
 23  hmo       3064 non-null   float64
 24  mnc       3064 non-null   float64
 25  ratio     3064 non-null   float64
 26  posexp    3064 non-null   float64
 27  suppins   3064 non-null   float64
 28  hvgg      3064 non-null   float64
 29  hfp       3064 non-null   float64
 30  ltotexp   2955 non-null   float64
 31  hins      1506 non-null   float64
 32  hdem      1737 non-null   float64
dtypes: float64(33)
memory usage: 790.1 KB

In [ ]:
https://utdt.zoom.us/rec/play/RNb9vTwj6xuxAXMYaYYoVaUVkIr0oxJjFN86QlYVredXkv2apjosbb4itQWRIrkXieSxaRgRv2-hfe--.P8uohJa-5hRBZSXl?accessLevel=meeting&canPlayFromShare=true&from=share_recording_detail&continueMode=true&componentName=rec-play&originRequestUrl=https%3A%2F%2Futdt.zoom.us%2Frec%2Fshare%2FfXGNAw-wXRDn9PGrp3hixKDmIuRBVpheVFvPcOn9Nz35eMUahnJvB56Z64Xwrgzx.C_8ZTL4YffDC2kSK