In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)
import pyreadstat as st
import numpy as np
import matplotlib.pyplot as plt


path = r"C:\Users\HP\OneDrive\Escritorio\David Guzzi\DiTella\MEC\Materias\2025\2025 1T\[MT09] Econometría de Datos de Panel\Clases prácticas\PS 2-20250525\data\murder.dta"

df, meta = st.read_dta(path)
df.head(1)

,id,state,year,mrdrte,exec,unem,d90,d93,cmrdrte,cexec,cunem,cexec_1,cunem_1
0,2,AL,87.0,9.3,2.0,7.8,0.0,0.0,NaN,NaN,NaN,NaN,NaN

In [2]:
#min: 20.