In [11]:
import pandas as pd
pd.set_option('display.max_columns', None)
import pyreadstat as st
import numpy as np
import matplotlib.pyplot as plt


path = r"C:\Users\HP\OneDrive\Escritorio\David Guzzi\DiTella\MEC\Materias\2025\2025 1T\[MT09] Econometría de Datos de Panel\Clases prácticas\PS 0-20250420\ps0_data\mus03data.dta"

df, meta = st.read_dta(path)
df.head()

,dupersid,year03,age,famsze,educyr,totexp,private,retire,female,white,hisp,marry,northe,mwest,south,phylim,actlim,msa,income,injury,priolist,totchr,omc,hmo,mnc,ratio,posexp,suppins,hvgg,hfp,ltotexp,hins,hdem
0,93193020.0,1.0,69.0,2.0,14.0,3.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,12.804,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1.098612,1.0,NaN
1,72072017.0,1.0,65.0,1.0,11.0,6.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,34.959,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1.791759,NaN,1.0
2,25296013.0,1.0,85.0,1.0,14.0,9.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,12.000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,2.197225,NaN,1.0
3,23628011.0,1.0,76.0,5.0,10.0,14.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,7.000,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,2.639057,1.0,1.0
4,95041014.0,1.0,71.0,1.0,14.0,18.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,9.308,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,2.890372,1.0,1.0

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3064 entries, 0 to 3063
Data columns (total 33 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   dupersid  3064 non-null   float64
 1   year03    3064 non-null   float64
 2   age       3064 non-null   float64
 3   famsze    3064 non-null   float64
 4   educyr    3064 non-null   float64
 5   totexp    3064 non-null   float64
 6   private   3064 non-null   float64
 7   retire    3064 non-null   float64
 8   female    3064 non-null   float64
 9   white     3064 non-null   float64
 10  hisp      3064 non-null   float64
 11  marry     3064 non-null   float64
 12  northe    3064 non-null   float64
 13  mwest     3064 non-null   float64
 14  south     3064 non-null   float64
 15  phylim    3064 non-null   float64
 16  actlim    3064 non-null   float64
 17  msa       3064 non-null   float64
 18  income    3064 non-null   float64
 19  injury    3064 non-null   float64
 20  priolist  3064 non-null   float64
 21  totchr    3064 non-null   float64
 22  omc       3064 non-null   float64
 23  hmo       3064 non-null   float64
 24  mnc       3064 non-null   float64
 25  ratio     3064 non-null   float64
 26  posexp    3064 non-null   float64
 27  suppins   3064 non-null   float64
 28  hvgg      3064 non-null   float64
 29  hfp       3064 non-null   float64
 30  ltotexp   2955 non-null   float64
 31  hins      1506 non-null   float64
 32  hdem      1737 non-null   float64
dtypes: float64(33)
memory usage: 790.1 KB

In [13]:
df[['ltotexp', 'suppins', 'phylim', 'actlim', 'totchr', 'age', 'female', 'income']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3064 entries, 0 to 3063
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   ltotexp  2955 non-null   float64
 1   suppins  3064 non-null   float64
 2   phylim   3064 non-null   float64
 3   actlim   3064 non-null   float64
 4   totchr   3064 non-null   float64
 5   age      3064 non-null   float64
 6   female   3064 non-null   float64
 7   income   3064 non-null   float64
dtypes: float64(8)
memory usage: 191.6 KB

In [14]:
df.dropna(subset=['ltotexp'], inplace=True)

In [15]:
import statsmodels.api as sm

y = df['ltotexp']
x = df[['suppins', 'phylim', 'actlim', 'totchr', 'age', 'female', 'income']]
X = sm.add_constant(x)

model = sm.OLS(y,X)
results = model.fit()

results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                ltotexp   R-squared:                       0.229
Model:                            OLS   Adj. R-squared:                  0.227
Method:                 Least Squares   F-statistic:                     125.0
Date:                Tue, 06 May 2025   Prob (F-statistic):          2.81e-161
Time:                        21:31:39   Log-Likelihood:                -4733.4
No. Observations:                2955   AIC:                             9483.
Df Residuals:                    2947   BIC:                             9531.
Df Model:                           7
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          6.7037      0.277     24.222      0.000       6.161       7.246
suppins        0.2556      0.046      5.530      0.000       0.165       0.346
phylim         0.3021      0.057      5.302      0.000       0.190       0.414
actlim         0.3560      0.062      5.732      0.000       0.234       0.478
totchr         0.3758      0.018     20.400      0.000       0.340       0.412
age            0.0038      0.004      1.040      0.299      -0.003       0.011
female        -0.0843      0.046     -1.852      0.064      -0.174       0.005
income         0.0025      0.001      2.501      0.012       0.001       0.005
==============================================================================
Omnibus:                       85.373   Durbin-Watson:                   0.451
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              142.377
Skew:                          -0.253   Prob(JB):                     1.21e-31
Kurtosis:                       3.949   Cond. No.                         979.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""