In [1]:
# Ver repaso primeros minutos.

In [15]:
import pandas as pd
pd.set_option('display.max_columns', None)
import pyreadstat as st
import numpy as np
import matplotlib.pyplot as plt


path = r"C:\Users\HP\OneDrive\Escritorio\David Guzzi\DiTella\MEC\Materias\2025\2025 1T\[MT09] Econometría de Datos de Panel\Clases prácticas\PS 3-20250531\data\mod_abdata.dta"

df, meta = st.read_dta(path)
df['year'] = df['year'].astype('int')
df.head(1)

,c1,ind,year,emp,wage,cap,indoutpt,n,w,k,ys,rec,yearm1,id,nL1,nL2,wL1,kL1,kL2,ysL1,ysL2,yr1977,yr1978,yr1979,yr1980,yr1981,yr1982
0,1-1,7.0,1977,5.041,13.1516,0.5894,95.707199,1.617604,2.576543,-0.52865,4.561294,1.0,1977.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0,0,0,0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 828 entries, 0 to 827
Data columns (total 27 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   c1        828 non-null    object
 1   ind       828 non-null    float64
 2   year      828 non-null    float64
 3   emp       828 non-null    float64
 4   wage      828 non-null    float64
 5   cap       828 non-null    float64
 6   indoutpt  828 non-null    float64
 7   n         828 non-null    float64
 8   w         828 non-null    float64
 9   k         828 non-null    float64
 10  ys        828 non-null    float64
 11  rec       828 non-null    float64
 12  yearm1    828 non-null    float64
 13  id        828 non-null    float64
 14  nL1       770 non-null    float64
 15  nL2       632 non-null    float64
 16  wL1       770 non-null    float64
 17  kL1       770 non-null    float64
 18  kL2       632 non-null    float64
 19  ysL1      770 non-null    float64
 20  ysL2      632 non-null    float64
 21  yr1977    828 non-null    int64
 22  yr1978    828 non-null    int64
 23  yr1979    828 non-null    int64
 24  yr1980    828 non-null    int64
 25  yr1981    828 non-null    int64
 26  yr1982    828 non-null    int64
dtypes: float64(20), int64(6), object(1)
memory usage: 174.8+ KB

#### **a) POLS con errores estándar robustos.**

In [31]:
import statsmodels.api as sm
from linearmodels.panel import PooledOLS


df_1 = df.set_index(['id', 'year'])

# X: todas las explicativas, incluyendo las yr*
X_vars = ['nL1', 'nL2', 'w', 'wL1', 'k', 'kL1', 'kL2', 'ys', 'ysL1', 'ysL2']
yr_vars = sorted([col for col in df_1.columns if col.startswith('yr')])
yr_vars = yr_vars[1:-1]  # eliminar la primera y última dummy automáticamente
X = df_1[X_vars + yr_vars]

# Agregar constante
X = sm.add_constant(X)

# Variable dependiente
y = df_1['n']

model = PooledOLS(y, X)
results = model.fit(cov_type='clustered', cluster_entity=True)

print(results.summary)

                          PooledOLS Estimation Summary
================================================================================
Dep. Variable:                      n   R-squared:                        0.9948
Estimator:                  PooledOLS   R-squared (Between):              0.9989
No. Observations:                 632   R-squared (Within):               0.7224
Date:                Sat, Jun 28 2025   R-squared (Overall):              0.9948
Time:                        19:44:36   Log-likelihood                    573.37
Cov. Estimator:             Clustered
                                        F-statistic:                      8456.1
Entities:                         138   P-value                           0.0000
Avg Obs:                       4.5797   Distribution:                  F(14,617)
Min Obs:                       4.0000
Max Obs:                       5.0000   F-statistic (robust):          1.513e+04
                                        P-value                           0.0000
Time periods:                       5   Distribution:                  F(14,617)
Avg Obs:                       126.40
Min Obs:                       80.000
Max Obs:                       138.00

                             Parameter Estimates
==============================================================================
            Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------
const         -0.1256     0.2812    -0.4465     0.6554     -0.6778      0.4266
nL1            1.0837     0.0478     22.653     0.0000      0.9897      1.1776
nL2           -0.1204     0.0431    -2.7918     0.0054     -0.2051     -0.0357
w             -0.4315     0.1856    -2.3244     0.0204     -0.7960     -0.0669
wL1            0.3933     0.1802     2.1829     0.0294      0.0395      0.7472
k              0.3215     0.0545     5.8968     0.0000      0.2144      0.4285
kL1           -0.2087     0.0673    -3.1028     0.0020     -0.3408     -0.0766
kL2           -0.0812     0.0307    -2.6436     0.0084     -0.1414     -0.0209
ys             0.5157     0.1858     2.7761     0.0057      0.1509      0.8805
ysL1          -0.7066     0.2737    -2.5813     0.0101     -1.2441     -0.1690
ysL2           0.2489     0.1447     1.7206     0.0858     -0.0352      0.5331
yr1978         0.0017     0.0217     0.0803     0.9360     -0.0409      0.0444
yr1979         0.0179     0.0198     0.9021     0.3674     -0.0210      0.0567
yr1980         0.0285     0.0180     1.5830     0.1139     -0.0069      0.0639
yr1981        -0.0094     0.0160    -0.5888     0.5562     -0.0409      0.0220
==============================================================================

c:\Users\HP\AppData\Local\Programs\Python\Python312\Lib\site-packages\linearmodels\panel\model.py:921: MissingValueWarning:
Inputs contain missing values. Dropping rows with missing observations.
  super().__init__(dependent, exog, weights=weights, check_rank=check_rank)

#### **b) FE con errores estándar robustos.**