In [2]:
import pandas as pd
pd.set_option('display.max_columns', None)
import pyreadstat as st
import numpy as np
import matplotlib.pyplot as plt


path = r"C:\Users\HP\OneDrive\Escritorio\David Guzzi\DiTella\MEC\Materias\2025\2025 1T\[MT09] Econometría de Datos de Panel\Clases prácticas\PS 0-20250420\ps0_data\mus03data.dta"

df, meta = st.read_dta(path)
df.head()

,dupersid,year03,age,famsze,educyr,totexp,private,retire,female,white,hisp,marry,northe,mwest,south,phylim,actlim,msa,income,injury,priolist,totchr,omc,hmo,mnc,ratio,posexp,suppins,hvgg,hfp,ltotexp,hins,hdem
0,93193020.0,1.0,69.0,2.0,14.0,3.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,12.804,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1.098612,1.0,NaN
1,72072017.0,1.0,65.0,1.0,11.0,6.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,34.959,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1.791759,NaN,1.0
2,25296013.0,1.0,85.0,1.0,14.0,9.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,12.000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,2.197225,NaN,1.0
3,23628011.0,1.0,76.0,5.0,10.0,14.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,7.000,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,2.639057,1.0,1.0
4,95041014.0,1.0,71.0,1.0,14.0,18.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,9.308,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,2.890372,1.0,1.0